/* Carousel.css */
.carousel-item img{
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    max-height: 90vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover; /* Assegura que a imagem cubra todo o espaço disponível, podendo cortar um pouco das bordas se necessário */
    opacity: 1;
}




/* Ajustes para responsividade e melhor visualização em diferentes dispositivos */
@media (max-width: 768px) {
    .carousel-caption {
        background: rgba(0, 0, 0, 0.5); /* Adiciona um fundo para melhorar a legibilidade dos textos em dispositivos menores */
        border-radius: 5px; /* Bordas arredondadas para o fundo */
        padding: 10px; /* Espaçamento interno para não colar o texto nas bordas */
    }
}

/* Ajustes adicionais para a responsividade e acessibilidade */
.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Torna os botões de controle mais acessíveis em telas menores */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%); /* Muda a cor dos ícones para garantir contraste em diferentes fundos de imagens */
}

/* .container{
    width: 500px;
    background-color: blueviolet;
    

       
} */

.carousel-caption h1{
    width: 500px;
    font-size: 26px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: -4px;
 /*    background-color: black;
    opacity: 0.6; */

}

.opacity-75{
 /*    background-color: black; */
    width: 500px;
    position: relative;
    font-size: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 22px;

    
 }
 .custom-carousel-caption {
    margin-left: -90px; /* Ajuste o valor conforme necessário */
    margin-bottom: 80px;
}

@media screen and (max-width: 400px) {
    .container{
        width: auto;
       
        
    
           
    }
    
    .carousel-caption h1{
        width: 200px;
        font-size: 26px;
        text-align: left;
        margin-bottom: 10px;
       
     /*    background-color: black;
        opacity: 0.6; */
    
    }
    
    .opacity-75{
     /*    background-color: black; */
        width: 200px;
        position: relative;
        font-size: 30px;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
    
        
     }
     .custom-carousel-caption {
    /* Ajuste o valor conforme necessário */
        margin-bottom: 10px;
    }
    
}