body {
    margin: 0;
    font-family: Arial, sans-serif;
    
  }
  
  footer {
    background-color: #383838;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -19px;
  }
  

  .column {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px; /* Adicionei um espaço uniforme à direita de cada coluna */
    margin-top: 35px;
  }
  
  .column h3 {
    font-size: 1.1em;
    margin-left: 30px;
  }
  
  ul {
    font-size: 16px;
    list-style: none;
    padding: 40;
    
  }
  
  ul li {
    margin-bottom: 8px;
    line-height: 10px;
   
  }
  ul li a{
    background-color:  #383838;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      margin-right: 0; /* Remova o espaço à direita das colunas em telas menores */
    }
  }
  


/* Estilização do sub-footer */
.sub-footer{
    background-color: #383838;
    padding-bottom: 8px;

   
}
.sub-footer hr {
    border-top: 1px solid white;
}

.sub-footer p{
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 10px;
}