
/* Ajustes para a seção de portfólio */
.portifolio{
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
}
.portifolio h1{
    margin-left: 0px;
    font-size: 40px;
}
.portifolio hr{
    margin-bottom: 45px;
}
.card {
    flex-basis: calc(33.33% - 9px); /* 33.33% - 2 * 8px (espaçamento entre cartões) */
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 6px;
    margin-bottom: 10px; /* Adicione espaço abaixo de cada cartão */
}

.card img {
    width: 100%;
    height: 70%;
    /* Altura removida para permitir altura automática baseada na proporção */
    object-fit: cover;
    /* Adicionado para remover a margem da imagem, conforme solicitado */
    display: block; /* Isso remove o espaço extra abaixo da imagem */
    /* Definindo uma altura máxima para simular o aspecto do Instagram */
    max-height: 600px; /* Exemplo de altura máxima; ajuste conforme necessário */
}

/* Para manter a responsividade, você pode querer usar media queries */
@media (max-width: 600px) {
    .card img {
        max-height: 300px; /* Altura menor para dispositivos menores */
    }
}




.detalhes {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 18px;
    line-height: 20.9px;
    text-align: left;
    color: black;
    margin: 40px;
}

.detalhes h3{
    font-size: 22px;
    margin-bottom: 30px;
}
.detalhes a{
    background-color: white;
    margin-top: 20px;
    color: blue;
}
/* Media query para telas menores ou iguais a 600px */
@media screen and (max-width: 600px) {
    .section {
        flex-direction: column; /* Coloca os elementos em uma única coluna */
        align-items: center; /* Centraliza os elementos na coluna */
    }

    .card {
        flex-basis: 100%; /* Define a largura dos cartões para 100% da largura da coluna */
    }
}

/* Media query para telas menores ou iguais a 400px */
@media screen and (max-width: 400px) {
    .section {
        flex-direction: column; /* Coloca os elementos em uma única coluna */
        align-items: center; /* Centraliza os elementos na coluna */
    }

    .card {
        flex-basis: 100%; /* Define a largura dos cartões para 100% da largura da coluna */
    }
}

.catalogo{
    margin-bottom: 10px;
}
.catalogo h1{
    margin-left: 35px;
    margin-top: 60px;
}
.catalogo hr{
    size: 10px;
    color: black;
    margin-left: 35px;
    margin-right: 35px;
}