/* Ajustes para a seção de portfólio */
.portifolio {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
}
.portifolio {
    margin-top: 50px;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1400px;
    margin-bottom: 70px;
}
.portifolio h1 {
    margin-left: 0px;
    font-size: 45px;
}
.portifolio hr {
    margin-bottom: 45px;
}

/* Nova estilo do portifolio */
.card {
    width: 400px; /* Aumentando a largura do card */
    aspect-ratio: 1 / 1; /* Ajustando a altura para ser igual à largura */
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Adiciona overflow hidden para garantir que a descrição fique dentro do card */
}
.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: filter 0.5s ease-in-out;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, inset 0.4s ease-in-out;
}
.card:hover img {
    filter: grayscale(1) brightness(0.4);
}
.card:hover::after {
    opacity: 1;
    inset: 20px;
}
.content {
    width: 80%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; /* Inicialmente ocultar o conteúdo */
    transition: opacity 0.5s ease-in-out;
}
.card:hover .content {
    opacity: 1; /* Mostrar o conteúdo ao passar o mouse */
}
