.container1{
    background-color: rgb(24, 23, 85);
    padding-top: 35px;
    padding-bottom: 35px;
}
.container0 {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;  
}
.title{
    color: rgb(74, 136, 230);
}
.img-fluid {
    width: 520px;
    height: 400px;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 40px; 
    margin-bottom: 20px;
    border-radius: 0px 180px 180px 0px;
}
@media screen and (max-width: 800px) {
    .container0 {
        flex-direction: column; 
    }
}
.texto1{
    color: white;
    text-align: justify;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 60px; /* Espaço à esquerda */
}
@media screen and (max-width: 400px) {
    .texto1 {
        text-align: justify;
        margin-top: 50px;
        margin-right: 18px;
        margin-left: 18px; 
    }
}
.container0 h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}
@media screen and (max-width: 400px) {
    .container0 h2 {
        text-transform: uppercase;
        font-size: 22px;
        text-align: left;
        margin-top: 20px;
    }
}

.container0 p {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
}

.img-fluid {
    width: 520px;
    height: 400px;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 40px;
    margin-bottom: 20px;
  
}


@media screen and (max-width: 600px) {
    .img-fluid {
        width: auto;
        height: 350px;
        margin-top: 20px;
        margin-left: 20;
        margin-right: -10px; /* Corrigi o valor para incluir o "px" faltando */
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 400px) {
    .img-fluid {
        width: 350px;
        height: 250px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: -10px; /* Corrigi o valor para incluir o "px" faltando */
        margin-bottom: -15px;
    }
}